*{
    margin: 0;
}
.a1{
margin-left: 190px;
margin-top: 20px;
}
.a2{
    display: flex;
    margin-left: 300px;
    margin-top: -30px;
    font-size: 25px;
    gap: 50px;
}
.a3{
    background-color: #FFF7F4;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
}
.a4{
    padding-top: 180px;
    font-size:50px;
    font-weight: bold;
    margin-left: 100px;
}
.a5{
font-size: 50px;
font-weight: bold;
margin-left: 100px;
color: #ff5500;
}
.a7{
    color: #040404;
   
}
.a6{
font-size: 50px;
font-weight: bold;
margin-left: 100px;
}
.a8{
    margin-left: 100px;
    margin-top: 5px;
    color: gray;
    font-size: 17px;
}
.a9{
    width: 180px;
    background-color: #ff5500;
    border: #ff5500;
    color: white;
    height: 39px;
    margin-left: 100px;
    margin-top: 70px;
    position: absolute;
}
.box{
    margin-left: 700px;
    margin-top: -230px;
}
.box1{
    margin-top: 150px;
}
.box2{
    margin-top: -400px;
    margin-left: 780px;color: gray;
}
.box3{
    font-size: 30px;
    margin-left: 780px;
    font-weight: bold;
    margin-top: 20px;
}
.box4{
    color: #ff5500;
}
.box5{
    color: #ff5500;
}
.box6{
    margin-left: 780px;
    margin-top: 5px;
    font-size: 20px;
}
.box7{
    margin-left: 780px;
    margin-top: 50px;
    font-size: 20px;
}
.box8{
    width: 170px;
    height: 38px;
    color: white;
    background-color: #ff5500;
    border: #ff5500;
    margin-left: 780px;
    margin-top: 40px;
}
.box11 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    gap: 50px;
}

.item {
    background: #fff;
    width: 220px;
    padding: 30px 15px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 0px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 15px;
    color: #fff;
    line-height: 50px;
}

.c1 { background: orange; }
.c2 { background: gray; }
.c3 { background: blue; }
.c4 { background: black; }
.item1{
    width: 100%;
    background-color: #FFF7F4;
    height: 600px;
}
.item2{
    color: gray;
    margin-left: 130px;
    padding-top: 100px;
}
.item3{
    margin-left: 130px;
    margin-top: 30px;
    font-size: 35px;
    font-weight:  bold;
}
.item4{
    color: #ff5500;
}
.item5{
    margin-top: -350px;
    margin-left: 130px;
    font-size: 20px;
}
.item6{
    margin-left: 130px;
    margin-top: 50px;
    font-size: 20px;
}
.item7{
    width: 180px;
    height: 35px;
    background-color: #ff5500;
    color: #fff;
    border: #ff5500;
    margin-left: 130px;
    margin-top: 50px;
}
.main {
    width: 800px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: -380px;
    margin-left: 700px;
}

.item9{
    background: white;
    padding: 40px;
    text-align: center;
    height: 100px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.item h2 {
    font-size: 40px;
    margin: 0;
    color: #333;
}

.item p {
    margin-top: 10px;
    color: #777;
}
.text{
    text-align: center;padding-top: 50px;
    color: #777;
}
.text1{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.text2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.text3{
    color: #ff5500;
}


.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.card {
    background: #fff;
    width: 220px;
    border-radius: 6px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
    text-align: center;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.name {
    font-size: 18px;
    font-weight: 600;
    margin: 16px 0 5px;
}

.job {
    color: #777;
    font-size: 14px;
    margin-bottom: 16px;
}
